@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html,
body {
    background: rgb(182, 167, 167);
    font-family: 'Syne Mono', monospace;
    color: #ffffff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    margin-bottom: 60px;

    @media (max-width: 991px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 300px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.player-turns {
    opacity: 0;
    height: 0;
    transition: all 0.2s;
}

.cards.game-started,
.player-turns.game-started {
    opacity: 1;
    pointer-events: all;
}

.player-turns.game-started {
    height: 30px;
    opacity: 1;
}

button.button {
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    transition: all 0.2s;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 30px;

    &--round {
        padding: 10px;
        height: 40px;
        width: 40px;
    }

    &:hover,
    &:focus {
        background: linear-gradient(90deg, #b546ff, #ff6954);
    }

}

.number-of-players {
    display: inline-block;
    margin-right: 30px;
}